body{
    margin:0px;
}
#g-fon {
	background-image: url(fon.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: fixed;
	opacity:1;
	transition:all 2s linear;
	z-index: -1;
}
.fonClear {
    opacity:0;
}
.g-page {
    min-height: 90%;
    width: 70%;
    left: 15%;
    position: relative;
    top: 10%;
    background: rgba(255, 255, 255, 0.9);
    border-top-left-radius: 70px 90px;
    border-top-right-radius: 70px 90px;
}

.b-header-menu{
    position: relative;
    width: 100%;
    height: 10%;
}

.b-header-menu__logo{
    position: relative;
    float: left;
    height: 100%;
    width: 10%;
}

.b-logo__img{
    position: absolute;
    width: 70%;
    height: 60%;
    margin-top: 30%;
    margin-left: 50%;
}

.b-header-menu__menu-top{
    float:left;
    width: 65%;
    padding-left: 60px;
}

.b-menu-top{
    overflow: hidden;
    padding: 0;
    width: 100%;
    border-left: 2px solid rgb(160, 167, 250);
}

.b-menu-top__ul{
    padding: 0px;
    margin: 0px;
}
.b-li-menu-top{
    float: left;
    display: block;
    width: 24%;
    height: 100%;
    text-align: center;
    position: relative;
    border-right: 2px solid rgb(160, 167, 250);
}
.b-li-menu-top:hover{
    background:rgb(160, 167, 250);
}
.b-menu-top__a{
    text-decoration: none;
    position: absolute;
    top: 45%;
}

.b-contents{
    position: relative;
    background: white;
    width: 94%;
    height: 76%;
    top: 4%;
    left: 3%;
    right: 3%;
    box-shadow: 6px 6px 6px 2px rgb(160, 167, 250);
}
.b-content__text{
    font-family: Verdana, "Times New Roman";
    text-align: center;
}


